.navbar{
    font-size: 1.25rem;
   
}

.container{
    
}

.portada{
    background-color: #0099cc;
    min-height: 450px;
    text-align: center;
    margin: 10px;
}

.imagen-portada{
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 20%;
}
body {
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
}

.curriculum-vitae{
    background-color: #0099cc;
    text-align: center;
    margin: 10px;
    align-items: center;
    padding: 70px;
}

.card-img-top{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

h5{
    font-size: 2rem;
}

.sobre-mi{
    background-color: #00ace6;
    min-height: 450px;
    text-align: center;
    justify-content: start;
    margin: 10px;
    align-items: center;
    padding: 70px;
}

section{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.section-title{
    font-size: 3rem;
}

.section-text{
    font-size: 1.75rem;
}

p{
    font-size: 1.5rem;
}

ul{
    font-size: 1.5rem;
}

.habilidades{
    background-color: #00ace6;
    min-height: 450px;
    text-align: center;
    justify-content: start;
    margin: 10px;
    align-items: center;
    padding: 70px;
}

.contacto{
    background-color: #0099cc;
    min-height: 450px;
    text-align: center;
    margin: 10px;
    align-items: center;
    padding: 70px;
}

.img-fluid-colab{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 300px;
    margin: 10px;
}

.progress-bar{
    font-size: 1.3em;
    color: #212529;
    
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
